@black:rgba(0,0,0,0.85);
@gray:rgba(0,0,0,0.65);
@graymore:rgba(0,0,0,0.45);
@block:#ffffff;
@titleHeight:52px;
@fontSmall:12px;
@fontMiddle:14px;
@fontBig:16px;

// 顶部导航栏
.nav{
  position: relative;
  padding-bottom: 15px;
  line-height: 21px;
  font-size: 14px;
  span{
    font-size:@fontSmall;
  }
  .span1{
    color:@black;
  }
  .span2{
    color:@gray;
  }
  .dateSelector{
    float: right;
  }
  .areaSelector{
    float: right;
  }
}
// 元素垂直居中
.vertical_middle{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
// 普通标题
.title{
  padding:15px 12px;
  font-size: @fontBig;
  font-weight: 600;
  color:@black;
  border-bottom: 1px solid #EDEDED;
  .buttons{
    float: right;
    margin-right: 10px;
  }
}
// 带竖线的小标题
.sTitle{
  display: block;
  height: 22px;
  line-height: 22px;
  .border{
    width:2px;
    height:14px;
    margin:4px 0;
    background: #1890FF;
    border-radius: 1px;
    float: left;
  }
  .dis{
    font-size: @fontMiddle;
    float: left;
    padding-left: 8px;
  }
}
// 配合普通标题使用的内容区域
.contents{
  padding:0px 12px;
  position: relative;
  box-sizing: border-box;
  height: calc(100% - @titleHeight);
  width: 100%;
}
// 配合小标题使用的内容区
.sContents{
  position: relative;
  box-sizing: border-box;
  height: calc(100% - 22px);
  width: 100%;
}
// 横向flex
.flexRow{
  display: flex;
  flex-direction: row;
}
// 纵向flex
.flexColumn{
  display: flex;
  flex-direction: column;
}
// 清浮动
.clearfix{
  &::after{
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
  }
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: transparent;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  height: 4px;
  border-radius: 2px;
  background-color: #ccc;
}

// 路由动画
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter {
  opacity: 0.6;
}
.fade-leave-to {
  opacity: 0.6;
}

//  图标
.icon{
  display: block;
  height: 100%;
  line-height: 100%;
}

// 无数据按钮样式
.nodata-button{
  margin: calc(50% - 80px) calc(50% - 60px);
  color: rgba(0,0,0,0.45)
}

// 地图模块 myPopup 自定义样式
.myPopup{
  z-index: 999;
}
.mapboxgl-popup-tip{
  border-right-color: rgba(0, 0, 0, 0.8) !important;
}
.mapboxgl-popup-content{
  background-color: rgba(0, 0, 0, 0.8) !important;
  color:rgba(255,255,255,0.8) !important;
  padding: 15px 20px !important;
}
.mapboxgl-popup-close-button{
  color:rgba(255,255,255,0.8) !important;
}
.popupTitle:hover{
  color: rgba(255, 187, 25, 1) !important;
}
.popupNumber{
  color: rgba(255, 187, 25, 1) !important;
}
.popupBorder{
  display: block;
  border-bottom: rgba(255,255,255,0.65) dashed 1px !important;
  height: 1px;
  margin: 3px 2px;
}
.popupColor {
  display: inline-block;
  border-radius: 50%;
  background: #1890ff;
  height: 5px;
  width: 5px;
  margin-left: 20px;
  margin-right: 10px;
}
.popupIconAddress{
  display: inline-block;
  height: 100%;
  line-height: 100%;
  background: url(~@/assets/images/home/icon-address.png) no-repeat left !important;
  padding-left: 20px;
}
.popupIconDocumnet{
  display: inline-block;
  height: 100%;
  line-height: 100%;
  background: url(~@/assets/images/home/icon-document.png) no-repeat left !important;
  padding-left: 20px;
}

